:root {
    --yellow: #eef13f;
    --orange: #fe6638;
    --green: #80b238;
    --blue: #80c1d6;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--blue);
    color: #fff;
    font-family: Atma, sans-serif;
    margin: 0;
    font-size: 1.5rem;
}

h1,
h2 {
    margin-top: 0;
}

h1,
h2,
h1 + p,
button {
    font-family: Bangers, sans-serif;
    letter-spacing: 2px;
}

/* ... Your turn! ... */

body {
    background: top no-repeat url("../img/blue-splash.png") var(--blue);
}

nav {
    margin: 0;
    background-color: var(--green);
    opacity: 0.8;
    padding: 0.1rem;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav > ul > li {
    text-transform: uppercase;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 6rem;
}

header {
    text-shadow: 1px 1px 0 white;
    text-align: center;
    color: var(--orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

header > p {
    font-size: 1.5rem;
}

h2 {
    text-align: center;
    text-shadow: 2px 2px 0 #444;
    //#cb532e;
    //#67902e;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}


article{
    background-color:var(--green);
    color:white;
    text-align:center;
}

article a{
    color:white;
    text-decoration:none;
}

.obstacles{    
    background-color: var(--orange);
}
.obstacles-group article{
    border-radius:10px;
}
.prizes{
    background-color: var(--green);
}
.prizes-group article{
    border: 1px dashed var(--yellow);
}


/* .prizes-group .grid { */
/*     align-items: stretch; */
/* } */
.grid { 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
    justify-content: center;
}

.grid > article {
    border: 1px solid yellow;
    /* flex: auto; */
}

article {
    border: 1px solid blue;
}

.wrap {
    border: 1px dotted yellow;
    padding: 2rem;
}
.grid {
    border: 1px dashed red;
}


/* .obstacles-group > article , .prizes-group > article { */
/*     display: flex; */
/*     flex-direction: column; */
/*     justify-content: center; */
/*     align-items: stretch; */
/* } */

label,input {
    display: flex;
    flex-direction: column;
}

input {
    background-color: var(--orange);
    color: white;
    border-radius: 6px;
    border: 0;
    padding: 0.75rem;
}

button {
    background-color: var(--yellow);
    border-radius: 6px;
    border: 0;
    padding: 1rem 0.75rem;
    margin-top: 0.75rem;
    text-shadow: 2px 2px 0 #aaa;
}

footer {
    margin: auto;
    padding: 2rem;
    text-align: center;
    background-color: var(--yellow);
    color: black;
}

@media (min-width: 640px) {
    .grid {
	display:flex;
	flex-direction:row;
	gap: 1rem;
	align-items: center;
    }

    header > p {
	font-size: 3rem;
    }

}
