:root {
  --yellow: #eef13f;
  --orange: #fe6638;
  --green: #80b238;
  --blue: #80c1d6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--blue);
  color: #fff;
  font-family: Atma, sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

h1,
h2 {
  margin-top: 0;
}

h1,
h2,
h1+p,
button {
  font-family: Bangers, sans-serif;
  letter-spacing: 2px;
}

/* ... Your turn! ... */

@media (min-width: 640px) {}

nav {
  position: fixed;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background: var(--green);
  padding: 1rem;
  /* Transparence */
}

a {
  text-decoration: none;
  color: white;
}

main,
header,
#obstacles,
#prizes,
#apply,
.wrap,
.grid,
.prizes-group,
form,
article,
label,
input {
  display: flex;
}

main,
header,
#obstacles,
#prizes,
#apply,
.wrap,
.obstacles-group>article,
.prizes-group>article,
form,
label {
  flex-direction: column;
}

.obstacles-group>article,
.prizes-group>article,
header {
  justify-content: center;
  align-items: center;
}


/* ----------------Specification---------------------- */



header {
  min-height: 100vh;
  width: 100%;
  background-image: url('/img/blue-splash.png');
  background-attachment: fixed;
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 3rem;
  color: var(--orange);
}

.wrap {
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}


.grid {
  justify-content: space-around;
  min-width: 100%;
}

section {
  padding: 5rem;
}


#obstacles,
#prizes,
#apply,
.wrap,
.grid {
  text-align: center;
}



/* ---------------------Sections---------------------------- */


#prizes,
.obstacles-group article {
  background: var(--green);
}

/* Sections Specifics */


.obstacles-group>article {
  margin: 0.7rem;
  padding: 3rem;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

/* Colors*/

#obstacles {
  background: var(--orange);
}



.prizes-group>article {
  border: dashed yellow 2px;
  padding: 3rem;
  margin: 0.7rem;
}




/* footer */

form {
  margin-bottom: 1rem;
  align-items: flex-start;
  width: 500px;
  padding: 10px;
}

label,
input {
  display: flex;
}

input {
  background-color: var(--orange);
  color: white;
  border-radius: 6px;
  border: 0;
  padding: 0.75rem;
  width: 200%;
}

button {
  background-color: var(--yellow);
  border-radius: 6px;
  border: 0;
  padding: 1rem 0.75rem;
  margin-top: 0.75rem;
  text-shadow: 2px 2px 0 #aaa;
  font-size: 1.5rem;
}

footer {
  margin: auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--yellow);
  color: black;
}
